*.idea
*.DS_Store
*test.py
*test.m
*.pyc
*read_mnist.py
*2015.py
*.class
*m~
*results.txt
matlab
*rptree2.py
cpp2
cpp/nbproject
*.o
*.cpp~
/cpp/build/
*.so
*.mat
datasets
python
build
dist
mrpt.egg-info
